<div class="container mt-4">
    <h1 class="mb-4">Información del Proyecto</h1>

    <div class="card mb-4">
      <div class="card-header">
        Detalles del Proyecto
      </div>
      <div class="card-body">
        <p><strong>Nombre:</strong> Task Manager</p>
        <p><strong>Descripción:</strong> Proyecto hecho para la materia de Aplicaciones Web Escalables </p>
        <p><strong>Fecha de inicio:</strong> 01/05/2023</p>
        <p><strong>Fecha de finalización:</strong> 01/06/2023</p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        Equipo del Proyecto
      </div>
      <div class="card-body">
        <ul>
          <li>Jaime Jesus Torres Garcia</li>
         
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        Objetivos del Proyecto
      </div>
      <div class="card-body">
        <ul>
          <li>Desarrollar una aplicación web moderna y escalable: El objetivo principal puede ser crear una aplicación web robusta y escalable utilizando las tecnologías de Angular y MEAN. Esto implica utilizar las características y capacidades de estas tecnologías para construir una aplicación de alta calidad.</li>
        </ul>
      </div>
    </div>

    
  </div>

  <div class="container fluid"><button routerLink="/ " class="btn btn-secondary btn-lg float-end">Volver</button></div>
  